<!-- --------------------------------------------------------- -->
<!-- Send request from JavaScript, passing information as JSON -->
<!-- --------------------------------------------------------- -->

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Hello</title>
    </head>

    <body>
        <p>Enter a number</p>
        <!-- Set name parameter to retrieve value in Flask -->
        <input type="number" name="number" id="number" autocomplete="off" placeholder="Your number" required>
        <button id="enter-btn">Enter</button>

    <script src="../static/script.js"></script>    
    </body>
</html>